@import './_variables.scss';
@import './_titles.scss';
@import './_containers.scss';
@import './_text.scss';

/* Hack since material sets form fields to 200px*/
.mat-form-field {
    min-width: 50px;
    width: 100%;
}

.mat-form-field.sm{
    max-width: 120px;
}

.mat-list .mat-list-item-content:hover{
    background-color:rgba(0,0,0,.04);
    cursor: pointer;
}

.main-menu-sidenav{
    min-width: 150px !important;
}

.main-menu-submenu{
    min-width: 150px !important;
}

.mat-sticky{
    position: fixed !important;
    right: 25px;
    top: 80px;
    z-index: 3;
}

.loading{
    .mat-progress-bar{
        margin: 20px 0;
    }
    font-weight: 700;
    color: $primary-color;
    margin-bottom: 20px;
}