<form #ventaForm="ngForm">
    <h3> Cliente: </h3>
    <h4> {{venta.sumary.cliente?.nombre}} </h4>
    <ng-content></ng-content>
    <div class="sub-container">
        <div class="sub-titles text-center">
            Nuevo Producto
        </div>
        <app-add-producto [listaPreciosID]="listaPreciosID" (onProdutoAdded)="onProductoAdded($event)"></app-add-producto>

        <div class="sub-titles text-center">
            Productos
        </div>
        <os-detalle-venta [detalleVenta]="venta.detalle" (detalleVentaChange)="onDetalleChanged($event)" [sumaryVenta]="venta.sumary"></os-detalle-venta>
    </div>
    <div class="row">
        <div class="col-xs text-right">
            <button type="button" mat-raised-button color="primary" [disabled]="isVentaInvalid()"
                (click)="onSaveVenta()">
                <mat-icon
                    aria-label="Guardar venta">save</mat-icon>
                Guardar Venta
            </button>
        </div>
    </div>
</form>