<form #ojoForm="ngForm">
    <div class="sub-container">
        <div class="sub-titles text-center">
            <ng-content></ng-content>
        </div>
        <mat-form-field>
            <input matInput placeholder="Esfera" name="esfera" type="number" step=".25"
                required min="-20" max="20"
                #esferaControl="ngModel" [readonly]="!editable" [(ngModel)]="ojo.esfera"/>
                
            <mat-error *ngIf="esferaControl.hasError('max') || esferaControl.hasError('min')">
              El maximo de dioptrías es <strong>20</strong>.
            </mat-error>
            <mat-error *ngIf="esferaControl.hasError('required')">
              La esfera es <strong>requerida</strong>.
            </mat-error>
        </mat-form-field>
        
        <mat-form-field>
            <input matInput placeholder="Cilindro" name="cilindro" type="number" step=".25"
                required min="-20" max="20"
                #cilindroControl="ngModel" [readonly]="!editable" [(ngModel)]="ojo.cilindro"/>
                
            <mat-error *ngIf="cilindroControl.hasError('max') || cilindroControl.hasError('min')">
              El maximo de dioptrías es <strong>20</strong>.
            </mat-error>
            <mat-error *ngIf="cilindroControl.hasError('required')">
              El cilindro es <strong>requerido</strong>.
            </mat-error>
        </mat-form-field>
        
        <mat-form-field>
            <input matInput placeholder="Grados" name="grados" type="number" 
                [required]="ojoForm.value.cilindro !== 0" min="0" max="180"
                #gradosControl="ngModel" [readonly]="!editable" [(ngModel)]="ojo.grados"/>
            
            <mat-error *ngIf="gradosControl.hasError('required') || gradosControl.hasError('min')">
              Los grados son <strong>requeridos</strong>.
            </mat-error>
            <mat-error *ngIf="gradosControl.hasError('max')">
              El maximo de grados es <strong>180</strong>.
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Distancia" name="distanciaInterPupilar" type="number" 
                min="0" required
                #distanciaControl="ngModel" [readonly]="!editable" [(ngModel)]="ojo.distanciaInterPupilar"/>
            
            <mat-error *ngIf="distanciaControl.hasError('required')">
              La distancia es <strong>requerida</strong>.
            </mat-error>
        </mat-form-field>
    </div>
</form>