<h1 mat-dialog-title>
  ¿En que sucursal te encuentras?
</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Sucursal</mat-label>
    <mat-select #sucursalField>
      <mat-option *ngFor="let sucursal of sucursales" [value]="sucursal">
        {{ sucursal.nombre }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions class="end-xs">
  <button mat-raised-button color="primary" (click)="select(sucursalField.value)">
    Seleccionar
  </button>
</div>
