<ng-template #actionsTemplate let-item>
    <button mat-icon-button matTooltip="Imprimir ticket" matTooltipPosition="below"
        (click)="onPrintTicket(item.ordenVentaID, item.esPagoInicial)">
        <mat-icon aria-label="Imprimir">
            print
        </mat-icon>
    </button>
</ng-template>

<div class="sub-container">
    <div class="buttons-containers">
        <button mat-raised-button color="primary" (click)="openDialog()" [disabled]="this.corte.detalle.length === 0">
            <mat-icon aria-label="Imprimir">
                account_balance_wallet
            </mat-icon>
            Registrar Corte
        </button>
    </div>

    <os-table [dataSource]="dataSource" [canAdd]="false" [canEdit]="false" [canDelete]="false"></os-table>
</div>