<form #examenForm="ngForm">
  <div class="row" *ngIf="editable">
    <div class="col-xs">
      <div class="sub-container">
        <div class="sub-titles">
            <small>Paciente:</small>
            {{paciente?.nombre}}
        </div>
        <div>
          <mat-checkbox align="end" name="esReceta" [ngModel]="_examen?.esReceta">
            ¿El paciente presento receta?
          </mat-checkbox>
        </div>
        <mat-form-field>
          <input matInput placeholder="Oftalmologo" name="oftalmologo" [ngModel]="_examen?.oftalmologo" />
        </mat-form-field>
        <mat-form-field>
          <textarea matInput placeholder="Observaciones" name="observaciones" [ngModel]="_examen?.observaciones"></textarea>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs" *ngIf="!editable">
      <app-graduacion-vista [examen]="_examen"></app-graduacion-vista>
    </div>

    <div class="col-xs col-md-3" *ngIf="editable">
        <app-ojo [ojo]="_examen?.ojoDerecho" (onChange)="onOjoDerechoChange($event)" [editable]="editable">
            OD
        </app-ojo>
    </div>
    <div class="col-xs col-md-3" *ngIf="editable">
        <app-ojo [ojo]="_examen?.ojoIzquierdo" (onChange)="onOjoIzquierdoChange($event)" [editable]="editable">
            OI
        </app-ojo>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="sub-container">
        <div class="sub-titles text-center">
          Mica
        </div>
        <mat-form-field>
          <mat-select #tipoMicaControl="ngModel" placeholder="Tipo de Mica" name="tipoMica"
            [ngModel]="_examen?.tipoMicaRecomendadoID" 
            (ngModelChange)="onTipoMicaChange($event)">
            <mat-option *ngFor="let tipo of tiposMicas" [value]="tipo.key">
              {{tipo.nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Material" name="material"
            [ngModel]="_examen?.materialRecomendadoID" 
            (ngModelChange)="onMaterialChange($event)">
            <mat-option *ngFor="let material of materialesMicas" [value]="material.key">
                {{material.nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input matInput #adicionControl="ngModel" placeholder="Adición" type="number" name="adicion" min="1"
            [ngModel]="_examen?.adicion" 
            [required]="esMonofocal(tipoMicaControl.value)" 
            [disabled]="esMonofocal(tipoMicaControl.value)"/>
          <mat-error *ngIf="adicionControl.hasError('required')">
            La adición es <strong>requerida</strong>.
          </mat-error>
          <mat-error *ngIf="adicionControl.hasError('min')">
              La adición debe ser <strong>mayor</strong> a 0.
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput #alturaControl="ngModel" placeholder="Altura" type="number" name="altura" min="0"
            [ngModel]="_examen?.altura" 
            [required]="esMonofocal(tipoMicaControl.value)" 
            [disabled]="esMonofocal(tipoMicaControl.value)"/>
          <mat-error *ngIf="alturaControl.hasError('required')">
            La altura es <strong>requerida</strong>.
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div *ngIf="editable" class="row">
    <div class="col-xs text-right buttons-containers">
      <button mat-raised-button color="accent" type="button"
        [disabled]="!(ojoIzquierdoValid && ojoDerechoValid && examenForm.valid)"
        (click)="generarPresupuesto(examenForm.value)">
        <mat-icon aria-label="Guardar examen">shop</mat-icon>
        Generar Presupuesto
      </button>

      <button mat-raised-button color="primary" type="button"
        [disabled]="!(ojoIzquierdoValid && ojoDerechoValid && examenForm.valid)"
        (click)="onSaveExamen(examenForm.value)">
        <mat-icon aria-label="Guardar examen">save</mat-icon>
        Guardar Examen
      </button>
    </div>
  </div>
</form>