<form #examenForm="ngForm">
  <div class="row" *ngIf="loading">
    <div class="col-xs text-center loading">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      Cargando, por favor espere ...
    </div>
  </div>
  <div class="row">
    <ng-container *ngIf="!editable">
      <div class="col-xs col-md-6">
        <app-graduacion-vista [examen]="examen"></app-graduacion-vista>
      </div>
    </ng-container>

    <ng-container *ngIf="editable">
      <!-- DATOS DEL PACIENTE -->
      <div class="col-xs col-md-4">
        <div class="sub-container">
          <div class="sub-titles">
              <small>Paciente:</small><br/>
              {{paciente?.nombre}}
          </div>
          <div>
            <mat-checkbox align="end" name="esReceta" [(ngModel)]="examen.esReceta">
              ¿El paciente presento receta?
            </mat-checkbox>
          </div>
          <mat-form-field>
            <input matInput placeholder="Oftalmologo" name="oftalmologo" [(ngModel)]="examen.oftalmologo" />
          </mat-form-field>
          <mat-form-field>
            <textarea matInput placeholder="Observaciones" name="observaciones" [(ngModel)]="examen.observaciones"></textarea>
          </mat-form-field>
        </div>
      </div>
      <!--DATOS DE LOS OJOS-->
      <div class="col-xs-6 col-md-2">
        <app-ojo [(ojo)]="examen.ojoDerecho" [(invalid)]="ojoDerechoInvalid" [editable]="editable">OD</app-ojo>
      </div>
      <div class="col-xs-6 col-md-2">
        <app-ojo [(ojo)]="examen.ojoIzquierdo" [(invalid)]="ojoIzquierdoInvalid" [editable]="editable">OI</app-ojo>
      </div>
    </ng-container>
    <!--DATOS DE LA MICA-->
    <div class="col-xs" [class.col-md-2]="editable" [class.col-md-6]="!editable">
      <div class="sub-container">
        <div class="sub-titles text-center">
          Mica
        </div>
        <mat-form-field>
          <mat-select #tipoMicaControl="ngModel" placeholder="Tipo de Mica" name="tipoMica"
            [ngModel]="examen?.tipoMicaRecomendadoID" 
            (ngModelChange)="onTipoMicaChange($event)">
            <mat-option *ngFor="let tipo of tiposMicas" [value]="tipo.key">
              {{tipo.nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Material" name="material"
            [ngModel]="examen?.materialRecomendadoID" 
            (ngModelChange)="onMaterialChange($event)">
            <mat-option *ngFor="let material of materialesMicas" [value]="material.key">
                {{material.nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input matInput #adicionControl="ngModel" placeholder="Adición" type="number" name="adicion" min="1"
            [ngModel]="examen?.adicion" 
            [required]="esMonofocal(tipoMicaControl.value)" 
            [disabled]="esMonofocal(tipoMicaControl.value)"/>
          <mat-error *ngIf="adicionControl.hasError('required')">
            La adición es <strong>requerida</strong>.
          </mat-error>
          <mat-error *ngIf="adicionControl.hasError('min')">
              La adición debe ser <strong>mayor</strong> a 0.
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput #alturaControl="ngModel" placeholder="Altura" type="number" name="altura" min="0"
            [ngModel]="examen?.altura" 
            [required]="esMonofocal(tipoMicaControl.value)" 
            [disabled]="esMonofocal(tipoMicaControl.value)"/>
          <mat-error *ngIf="alturaControl.hasError('required')">
            La altura es <strong>requerida</strong>.
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>

  <!--BUTTONS-->
  <div *ngIf="editable" class="row">
    <div class="col-xs col-md-10 text-right buttons-containers">
      <button mat-raised-button color="accent" type="button" 
        [disabled]="ojoIzquierdoInvalid || ojoDerechoInvalid || examenForm.invalid"
        (click)="generarPresupuesto(examenForm.value)">
        <mat-icon aria-label="Guardar examen">shop</mat-icon>
        Generar Presupuesto
      </button>

      <button mat-raised-button color="primary" type="button" 
        [disabled]="ojoIzquierdoInvalid || ojoDerechoInvalid || examenForm.invalid"
        (click)="onSaveExamen(examenForm.value)">
        <mat-icon aria-label="Guardar examen">save</mat-icon>
        Guardar Examen
      </button>
    </div>
  </div>
</form>