<div class="row">
  <div class="col-md-6">
    <div class="sub-container">
      <div class="row">
        <div class="col-md-8 col-xs-12">
          <os-month-year-selector [(month)]="selectedMonth" [(year)]="selectedYear"></os-month-year-selector>
        </div>
        <div class="col-md-4 col-xs-12">
          <button mat-raised-button color="primary" (click)="consultar()">
              <mat-icon> search </mat-icon>
              Consultar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<os-group-table [dataSource]="dataSource"></os-group-table>