@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:400,500,700');
@import '~@angular/material/_theming';

@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$candy-app-primary: mat-palette($mat-cyan);
$candy-app-accent:  mat-palette($mat-blue);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);

$primary-color: #1565c0;
$primary-dark-color: #003c8f;
$menu-height: 54px;

body{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.app-content
{
  margin: 0 25px;
  padding-top: 20px;
  height: calc(100vh - #{$menu-height});
  min-height: calc(100vh - #{$menu-height});
  max-height: calc(100vh - #{$menu-height});
  box-sizing: border-box;
}

.os-form-container{
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  md-form-field, footer{
    width: 100%;
  }
  
  footer{
    display: flex;
    flex-wrap: wrap;
    button{
      width: 100%;
      margin-bottom: 8px;
    }
  }
}

.os-main-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  height: $menu-height !important;
}

.main-menu-container {
  margin-top: $menu-height;
}