<mat-toolbar color="primary" class="os-main-toolbar">
  <button mat-icon-button (click)="sidenav.open()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{title}}</span>
</mat-toolbar>

<mat-sidenav-container class="main-menu-container">
  <mat-sidenav #sidenav mode="push" class="main-menu-sidenav"> 
    <mat-nav-list>
      <a mat-list-item routerLink="crm/search" routerLinkActive="active" (click)="sidenav.close()">Inicio</a>
      
      <a mat-list-item routerLink="caja/movimientos" routerLinkActive="active" (click)="sidenav.close()">Movimientos sin Corte</a>
      <a mat-list-item routerLink="caja/entregas" routerLinkActive="active" (click)="sidenav.close()">Ordenes pendientes de entrega</a>

      <a mat-list-item [matMenuTriggerFor]="inventario">Inventario</a>
      <a mat-list-item routerLink="optika/lista-precios" routerLinkActive="active" (click)="sidenav.close()">Lista de Precios</a>
      
      <a mat-list-item [matMenuTriggerFor]="reportes">Reportes</a>
      <a mat-list-item [matMenuTriggerFor]="catalogos">Catalogos</a>
    </mat-nav-list>

    <mat-menu #catalogos="matMenu" class="main-menu-submenu" [overlapTrigger]="false">
      <a mat-menu-item [matMenuTriggerFor]="micas">Micas</a>
      <a mat-menu-item [matMenuTriggerFor]="armazones">Armazones</a>
      <a mat-menu-item routerLink="productos" (click)="sidenav.close()">Productos</a>
    </mat-menu>

    <mat-menu #armazones>
      <a mat-menu-item routerLink="optica/armazon/modelo" (click)="sidenav.close()">Armazones</a>
      <a mat-menu-item routerLink="DCG/catalogo/999" (click)="sidenav.close()">Categorias de Armazones</a>
      <!--<a mat-menu-item routerLink="DCG/catalogo/1101" (click)="sidenav.close()">Tipos de Armazones</a>-->
      <a mat-menu-item routerLink="DCG/catalogo/998" (click)="sidenav.close()">Marcas</a>
    </mat-menu>

    <mat-menu #micas>
      <a mat-menu-item routerLink="DCG/catalogo/1102" (click)="sidenav.close()">Tipo de Micas</a>
      <a mat-menu-item routerLink="DCG/catalogo/1103" (click)="sidenav.close()">Materiales</a>
      <a mat-menu-item routerLink="DCG/catalogo/1104" (click)="sidenav.close()">Tratamientos</a>
    </mat-menu>

    <mat-menu #inventario="matMenu" class="main-menu-submenu" [overlapTrigger]="false">
      <a mat-menu-item routerLink="inventario/movimientos" (click)="sidenav.close()">Movimientos</a>
      <a mat-menu-item routerLink="inventario/corte" (click)="sidenav.close()">Realizar Corte</a>
    </mat-menu>

    <mat-menu #reportes="matMenu" class="main-menu-submenu" [overlapTrigger]="false">
      <a mat-menu-item routerLink="caja/cortes" (click)="sidenav.close()">Cortes de Caja</a>
      <a mat-menu-item routerLink="reporting/ventas/resumen" (click)="sidenav.close()">Resumen de Ventas</a>
    </mat-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="app-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>


