<div class="row">
  <div class="col-xs text-right">
    <small>
      Mostrando pagina 
      <strong>{{pagingSettings.currentPage}}</strong> 
      de {{pagingSettings.totalPages}}
    </small>
    <button mat-icon-button matTooltip="Anterior" color="accent" 
      [disabled]="pagingSettings.currentPage === 1"
      (click)="prevPage()">
      <mat-icon>chevron_left</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Siguiente" color="accent" 
    [disabled]="pagingSettings.lastPage"
      (click)="nextPage()">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
</div>