<ng-template #actionsTemplate let-item>
    <button mat-icon-button matTooltip="Mostrar Opciones" matTooltipPosition="below"
        (click)="onShowOption(item)">
        <mat-icon> expand_more </mat-icon>
    </button>
</ng-template>

<div class="row">
  <div class="col-md-8 col-xs">
    <div class="sub-container">
      <os-table *ngIf="!showOptions" [dataSource]="dataSource" [canAdd]="false" [canEdit]="false" [canDelete]="false">
      </os-table>

      <ng-container *ngIf="showOptions">
        <button mat-icon-button matTooltip="Regresar" matTooltipPosition="below"
          (click)="showOptions = false">
          <mat-icon> chevron_left </mat-icon>
        </button>
        <strong>{{selectedItem.nombre}}</strong>
        <br/>
        <small>
          {{selectedItem.description}}
        </small>
        <ul>
          <li *ngFor="let opt of selectedItem?.options">
            <strong>{{opt.opcion}}</strong> - {{opt.description}}
          </li>
        </ul>

      </ng-container>

    </div>
  </div>
</div>