<mat-tab-group [dynamicHeight]="false">
  <mat-tab label="Armazones">
    <div class="sub-container armazones">
      <app-precio-categoria-armazon [listaPreciosID]="listaPreciosID"></app-precio-categoria-armazon>
    </div>
  </mat-tab>
  <!--
  <mat-tab label="Micas">
    <div class="sub-container">
      <app-precio-material [listaPreciosID]="listaPreciosID"></app-precio-material>
    </div>
  </mat-tab>
  -->
  <mat-tab label="Otros">
    <app-detalle-precios-producto [listaPreciosID]="listaPreciosID"></app-detalle-precios-producto>
  </mat-tab>
</mat-tab-group>