
<div class="row">
    <div class="col-md-8 col-xs">
        <div class="sub-container">
            <os-table [dataSource]="dataSource" [loading]="loading"
                (onEditFired)="onEdit($event)" 
                (onDeleteFired)="onDelete($event)"
                (onAddFired)="onAdd()">
                <os-filter uniqueID="categoria">
                    <mat-form-field class="sm">
                        <mat-select placeholder="Categoria" (change)="onCategoriaChange($event.value)">
                        <mat-option [value]="{nombre: 'All'}">
                            TODAS
                        </mat-option>
                        <mat-option *ngFor="let cat of categorias" [value]="cat">
                            {{cat.nombre}}
                        </mat-option>
                        </mat-select>
                    </mat-form-field>
                </os-filter>
            </os-table>
        </div>
    </div>
</div>


<!--
<div class="row">
    <div class="col-xs col-lg-9 end-xs">
        <button mat-mini-fab routerLink="./detail/0" color="primary" matTooltip="Nuevo Producto">
            <mat-icon aria-label="Agregar producto">add</mat-icon>
        </button>
    </div>
</div>
<mat-card *ngFor="let item of productos" class="products-list-card">
    <mat-card-header>
      <mat-card-title class="mat-title">
          <span class="mat-title">
              {{item.nombre}}
          </span>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        {{item.descripcion}}
    </mat-card-content>
    <mat-card-actions>
        <a mat-button color="primary" routerLink="./detail/{{item.key}}">
            <mat-icon>mode_edit</mat-icon>
            Editar
        </a>
        <button mat-button color="warn" (click)="onDelete(item)">
            <mat-icon>delete</mat-icon>
            Eliminar
        </button>
    </mat-card-actions>
</mat-card>
-->