<ng-template #actionsTemplate let-item>
    <button *ngIf="item.sumary.saldo > 0" mat-icon-button matTooltip="Realizar abono" color="primary" 
        (click)="generarPago(item)">
        <mat-icon svgIcon="cash-multiple"></mat-icon>
    </button>
    <button *ngIf="item.sumary.saldo <= 0" mat-icon-button matTooltip="Entregar Orden" color="primary" 
        (click)="entregarOrden(item)">
        <mat-icon svgIcon="truck-delivery"></mat-icon>
    </button>
</ng-template>

<div class="sub-container">
  <os-table [dataSource]="dataSource" [loading]="loading" [canAdd]="false" [canEdit]="false" [canDelete]="false"></os-table>
</div>