<app-venta-optica
  [paciente]="venta.sumary.cliente" [listaPrecioID]="listaPrecioID" [esVenta]="false" [detalleVenta]="venta.detalle"
  (onExamenChanged)="onExamenChanged($event)"
  (onProdutsChanged)="onOpticaVentaChanged($event)"></app-venta-optica>
<div class="text-right buttons-containers">
  <button mat-raised-button color="primary" type="button" [disabled]="loading"
    (click)="print()">
    <mat-icon>
      {{ loading ? 'schedule': 'print'}}
    </mat-icon>
    {{ loading ? 'Espere ...': 'Imprimir'}}
  </button>
</div>